---
layout: page
banner:
  content: >
    <div class="container container--no-padding">
      <div class="width width--xxl text--center">
        <h1 class="h h--xxl">{{page.title}}</h1>
      </div>
    </div>
---

<div class="bg--grey-lightest">
  <div class="container vpad--xxxl">
    <div class="width width--xl text--center">
      <h2 class="h h--md">{{page.intro-title}}</h2>
      <p class="p--xxl">{{site.description}}</p>
    </div>
    <div class="space--xxxl">
      {% for item in page.features %}
        <div class="bob{% cycle '', ' bob--swap' %}">
          <div class="bob__img">
            <div class="row row--no-gutters">
              <div class="col col--sm-5">
                <div class="img img--2-3 img--style img--01" style="background-image: url('{{site.img}}/pages/hotels/{{item.id}}/01.jpg');"></div>
              </div>
              <div class="col col--sm-7">
                <div class="img img--4-3 img--style img--02" style="background-image: url('{{site.img}}/pages/hotels/{{item.id}}/02.jpg');"></div>
              </div>
            </div>
            <div class="img img--21-9 img--style img--03" style="background-image: url('{{site.img}}/pages/hotels/{{item.id}}/03.jpg');"></div>
          </div>
          <div class="bob__text">
            <h2 class="h h--sm">{{item.title}}</h2>
            <div class="space--xxs"></div>
            <div class="icon-title">
              <img class="icon-title__img" src="{{site.img}}/icons/hotel.svg" alt="hotel icon">
              <div class="text--upper text--bold text--wide">{{item.hotel}}</div>
            </div>
            <p class="p--xl">{{item.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="vpad--xxxl">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="p--xxl">{{page.end-section}}</p>
      <div class="space--sm"></div>
      <a href="{{site.data.locale[site.locale].core-site}}" class="btn btn--lg btn--orange">Browse Deals</a>
      <p class="p--sm"><a href="#" class="js-open-modal text--link" data-open-modal="competition-terms">T&Cs apply</a></p>
    </div>
  </div>
  <div class="space--xl"></div>
  <div>
    <div class="container container--lg">
      <h2 class="h h--xxs text--center width" style="max-width: 32rem">
        For inspiration on your next trip, browse our collections of amazing refundable deals below.
      </h2>
      <div class="space--lg"></div>
      <div class="row row--md-6-6 row--gutters-sm">
        {% for item in page.collection %}
        <div class="col">
          <div
            class="img img--1-1 rounded rounded--lg bg--grey-dark"
            style="background-image: url('{{site.img}}/collections/{{item.id}}.jpg');"
          >
            <a href="{{item.link}}" class="img__link"></a>
            <div class="img__content">
              <h3 class="h h--sm">{{item.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>