<!DOCTYPE html>
<html lang="en">
  {% include page/head.html %}

  <body class="no-js">
    {% include components/tracking.html %}

    <div class="container">
      <div class="width width--md vpad--xxl text--center">
        <h1 class="h h--lg">{{page.title}}</h1>
        <div class="space--xxs"></div>
        <p class="p--xxl">{{page.intro}}</p>
      </div>
    </div>
    <div>
      <div class="container container--xl">
        <h2 class="h h--xs text--center width" style="max-width: 36rem">
          Anregungen für Ihre nächste Reise finden Sie in einigen unserer Kollektionen:
        </h2>
        <div class="space--lg"></div>
        <div class="row row--md-6-6">
          {% for item in page.collection %}
          <div class="col">
            <div
              class="img img--1-1 rounded rounded--lg bg--grey-dark"
              style="background-image: url('{{site.img}}/collections/{{item.id}}.jpg');"
            >
              <a href="{{item.link}}" class="img__link"></a>
              <div class="img__content">
                <h3 class="h h--md">{{item.title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="space--xxxl"></div>
    <div class="space--xl"></div>
  </body>
</html>
